.dropdownWrapper {
  position: relative;
  align-self: flex-start;
  display: inline-flex;
  flex-direction: column;
}

.headerWrapper {
  display: flex;
  align-items: center;
}

.headerWrapper:hover {
  cursor: pointer;
}

.dropdownHeader {
  display: flex;
  margin-right: 0.6rem;
  color: var(--color-primary-dark);
}

.arrowAnchor {
  position: relative;
  width: 20px;
}

.customArrowAnchor {
  position: absolute;
}

.arrowAnchor:after {
  content: "";
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-color: var(--color-gray) transparent transparent transparent;
  position: absolute;
  top: -4px;
  right: 2px;
}

.arrowAnchor:hover:after {
  border-color: var(--color-primary) transparent transparent transparent;
}

.arrowAnchor.open:after {
  top: -11px;
  border-color: transparent transparent var(--color-primary) transparent;
}

.dropdownList {
  z-index: 100;
  position: absolute;
  background-color: #fff;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  white-space: pre;
  align-items: flex-end;
  margin-top: 3.5rem;
  padding: 0 1.5rem 2rem 1.5rem !important;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.16);
}

.dropdownItem {
  list-style-type: none;
  display: flex;
  overflow: auto;
  text-align: left;
  font-size: var(--font-size-normal);
  color: var(--tab-font-color);
  padding: 1.75rem 0 1.75rem 0 !important;
}

.dropdownItem:hover {
  cursor: pointer;
  color: var(--tab-hover-color) !important;
}
