.boxtextinput {
  background-color: transparent;
  font-family: var(--font-family-text);
  border: 1px solid var(--input-border-color);
  outline: 0;
  width: 100%;
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-regular);
  transition: all 0.25s;
  line-height: var(--spacing-2);
  padding: 1rem 2rem;
  padding-right: 4rem;
  margin-top: 1.2rem;
}

.boxTextInputRounded {
  border-radius: 0.5rem;
}

.boxTextInputError {
  border-color: var(--color-orange);
}

.errorMsg {
  visibility: hidden;
  color: var(--color-orange);
  font-size: var(--font-size-small);
  min-height: 2rem;
  margin-top: 0.3rem;
}

.errorMsgActive {
  visibility: visible;
}

.boxtextinput::placeholder {
  color: var(--text-input-color);
}

.boxtextinputWrapper {
  font-size: var(--font-size-normal);
  position: relative;
}

.boxtextinputWrapper input {
  color: var(--text-color);
}

.boxtextinputButton {
  cursor: pointer;
  border: 0;
  outline: 0;
  position: absolute;
  font-size: inherit;
  background: none !important;
  right: 1rem;
  top: calc(50% - 0.5rem);
  transform: translate(-50%, -50%);
  user-select: none;
}
