.btn,
.btn:link,
.btn:visited {
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-semi-bold);
  line-height: var(--spacing-2);
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s;
  backface-visibility: hidden;
}

.sm {
  padding: 0.6rem 1rem;
  border-radius: 0.5rem;
  font-size: var(--font-size-small);
}

.md {
  padding: 1rem 3rem;
  border-radius: 0.5rem;
}

.lg {
  padding: 1.5rem 3.6rem;
  border-radius: 0.5rem;
}

.icon {
  border-radius: 1rem;
}

.btn:not(:last-child):not(:only-child) {
  margin-right: var(--spacing-1);
}

.primary {
  composes: btn;
  color: var(--color-white);
  background-color: var(--btn-background-color);
  border: 1px solid var(--btn-background-color);
}

.secondary {
  composes: btn;
  color: var(--btn-background-color);
  background-color: transparent;
  border: 1px solid var(--btn-background-color);
}

.noBorder {
  border: 1px solid transparent;
}

.disabled {
  composes: btn;
  cursor: not-allowed;
  color: var(--btn-disabled-text-color);
  background-color: var(--btn-disabled-background-color);
  border: 1px solid var(--btn-disabled-background-color);
}

.primary:focus,
.primary:hover {
  background-color: var(--color-blue-alt);
}

.secondary:focus,
.secondary:hover {
  color: var(--color-blue-alt);
}

.primary:focus,
.primary:hover,
.secondary:focus,
.secondary:hover {
  outline: 0;
}

.primary:active,
.secondary:active {
  transform: scale(1);
  box-shadow: 0 0 0;
}

.fullWidth {
  width: 100%;
}
