.statusBar {
  width: 100%;
}

.statusWrapper {
  display: flex;
  margin-top: 0.5rem;
  position: relative;
  border: 1px solid var(--color-gray-light);
  border-radius: 10rem;
  height: 10px;
}

.statusBar.balance .statusWrapper > div {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.statusBar.balance .statusWrapper > div:first-of-type {
  justify-content: flex-end;
}

.statusWrapperDark {
  border: 1px solid var(--icon-color);
}

.statusInfo {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-items: center;
}

.infoCurrent {
  font-size: var(--font-size-small);
  line-height: var(--spacing-1);
  font-weight: var(--font-weight-regular);
}

.infoTotal {
  composes: infoCurrent;
  color: var(--color-gray);
}

.legendLine {
  display: flex;
  align-items: center;
  color: var(--tab-text-active-color);
}

.legendLine:not(:last-child) {
  margin-right: 3rem;
}

.statusBar.balance .legendLine:last-of-type {
  position: absolute;
  left: 50%;
  padding-left: 35px;
}

.legend {
  composes: infoCurrent;
  display: flex;
  margin-right: 2rem;
}

.legendColor {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.legendLabel {
  margin-right: 0.5rem;
  text-transform: capitalize;
  font-weight: var(--font-weight-semi-bold);
}

.legendAmount {
  margin-right: 0.5rem;
}

.statusOption {
  height: 8px;
}

.statusOption:first-of-type {
  border-radius: 10rem 0 0 10rem;
}

.statusOption:last-of-type {
  border-radius: 0 10rem 10rem 0;
}

.statusBar.balance .statusWrapper > div:first-of-type .statusOption {
  border-radius: 10rem 0 0 10rem;
}

.markerWrapper {
  position: absolute;
  transform: translate(-50%, -25%);
}

.marker {
  height: 20px;
  width: 2px;
  cursor: pointer;
  background-color: var(--color-gray-light);
}

.marker.markerDark {
  background-color: var(--color-primary-dark);
}

.markerTooltip {
  padding: 0 0.3rem;
  cursor: pointer;
  color: var(--color-green);
  font-size: var(--font-size-small);
}

@media screen and (max-width: 768px) {
  .legendLine:not(:last-child) {
    margin-right: 1rem;
  }
}
@custom-media --xs-viewport (max-width: 560px);


@media screen and (--xs-viewport) {
  .statusInfo {
    flex-direction: column-reverse;
    align-items: flex-end;
  }
}
