.badgeWrapper {
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  padding: 20px 30px 20px 60px;
  z-index: 100;
  border-radius: 5px;
  height: 57px;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
}

.badgeIcon {
  padding: 20px 20px 0 0;
}
