:root {
  --tab-active-underline-color: var(--color-yellow);
  --tab-count-background: var(--color-gray-lighter);
}

.tab {
  padding-bottom: 0.6rem;
  display: flex;
  margin-right: 5rem;
  font-size: var(--font-size-normal);
  align-items: center;
  border-bottom: 0.4rem solid transparent;
  cursor: pointer;
}

.tabsNav {
  list-style-type: none;
  display: flex;
}

.tabActive {
  composes: tab;
  border-color: var(--tab-active-underline-color);
}

.tabCount {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--tab-count-background);
  height: 2rem;
  width: 2rem;
  margin-left: 0.5rem;
}
