.tab {
  display: flex;
  align-items: center;
  font-size: var(--font-size-normal);
  color: var(--tab-font-color);
  cursor: pointer;
}

.tabHorizontal {
  composes: tab;
  padding-bottom: 0.6rem;
  margin-right: 5rem;
  border-bottom: 0.4rem solid transparent;
}

.tabVertical {
  composes: tab;
  min-height: 3rem;
  border-left: 0.4rem solid transparent;
  padding-left: 0.98rem;
  margin-top: 3rem;
}

.active {
  border-color: var(--tab-active-underline-color) !important;
  color: var(--tab-active-font-color);
}

.tabsNav {
  list-style-type: none;
  display: flex;
}

.tabsNavVertical {
  composes: tabsNav;
  flex-direction: column;
}

.tabCount {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--tab-count-background);
  height: 2rem;
  width: 2rem;
  margin-left: 0.5rem;
}
