.tab {
  display: flex;
  align-items: center;
  font-size: var(--font-size-normal);
  color: var(--tab-font-color);
  cursor: pointer;
  white-space: nowrap;
}

.tab:hover {
  color: var(--tab-hover-color) !important;
}

.tabHorizontal {
  composes: tab;
  padding-bottom: 0.6rem;
  margin-right: 5rem;
  border-bottom: 0.4rem solid transparent;
}

.tabVertical {
  composes: tab;
  min-height: 3rem;
  border-left: 0.4rem solid transparent;
  padding-left: 0.98rem;
  margin-top: 3rem;
}

.tabDropdownMode {
  composes: tab;
  display: flex;
  border-left: 0;
  padding-left: 0;
  margin-top: 2rem;
}

.tabsNav {
  list-style-type: none;
  display: flex;
  overflow: auto;
}

.wrap {
  flex-wrap: wrap;
}

.tabsNavVertical {
  composes: tabsNav;
  flex-direction: column;
}

.tabCount {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--tab-count-background);
  height: 2rem;
  width: 2rem;
  margin-left: 0.5rem;
}

.dropdownArrowClass {
  right: 45px;
  top: 10px;
}

.dropdownListClass {
  margin-top: 3rem;
}

.activeDropdownTabClass {
  margin: 0 1.5rem 0 0;
  padding-left: 1.5rem;
}

.activeDropdownTabWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 142px;
}
