.copyableWrapper {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.addressWrapper {
  padding: 0.3rem 1rem;
  word-break: break-all;
  background-color: var(--color-blue-lighter);
}

.copyToClipboard {
  width: 1.4rem;
  height: 1.4rem;
  cursor: pointer;
  margin-left: 5px;
  user-select: none;
}
