.copyableWrapper {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  max-width: 100%;
}

.contentWrapper {
  padding: 0.3rem 1rem;
  word-break: break-all;
  background-color: var(--copyable-text-background-color);
  border-radius: 4px;
}

.copyToClipboard {
  width: 1.4rem;
  height: 1.4rem;
  cursor: pointer;
  margin-left: 5px;
  user-select: none;
}
