.copyableWrapper {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  max-width: 100%;
}

.copyToClipboard {
  width: 1.4rem;
  height: 1.4rem;
  cursor: pointer;
  margin-left: 5px;
  user-select: none;
}
