.textSourceSansPro {
  font-family: var(--font-family-text);
}

.header1 {
  composes: textSourceSansPro;
  font-size: var(--font-size-xxxlarge);
  font-weight: var(--font-weight-regular);
  line-height: var(--spacing-4);
  color: var(--text-heading-color);
}

.header2 {
  composes: textSourceSansPro;
  font-size: var(--font-size-xxlarge);
  font-weight: var(--font-weight-semi-bold);
  line-height: var(--spacing-3);
  color: var(--text-heading2-color);
}

.header3 {
  composes: textSourceSansPro;
  font-size: var(--font-size-xlarge);
  font-weight: var(--font-weight-semi-bold);
  line-height: var(--spacing-3);
  color: var(--color-primary-dark);
}

.header4 {
  composes: textSourceSansPro;
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-semi-bold);
  line-height: var(--spacing-2);
  color: var(--color-primary-dark);
}

.header5 {
  composes: textSourceSansPro;
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-semi-bold);
  line-height: var(--spacing-2);
  color: var(--color-primary-dark);
}

.header6 {
  composes: textSourceSansPro;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-semi-bold);
  line-height: var(--spacing-1);
  color: var(--color-primary-dark);
}

.paragraph {
  composes: textSourceSansPro;
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-regular);
  line-height: var(--spacing-2);
  hyphens: auto;
}

.header1,
.header2,
.header3,
.header4,
.header5,
.header6 {
  word-wrap: break-word;
}

.paragraph:not(:last-of-type) {
  margin-bottom: var(--spacing-2);
}
