.separator {
  align-self: stretch;
  background-color: hsl(0, 0%, 80%);
  width: 1px;
  height: auto;
  margin-left: auto;
}

.valueSelected .separator {
  margin-left: 5px;
}

.downArrowContent {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid hsl(0, 0%, 80%);
}

.selectOpen .downArrowContent {
  border-top: 0;
  border-bottom: 5px solid #1a59f7;
}

.cancelContainer {
  cursor: pointer;
}

.valueSelected .cancelContainer {
  display: flex;
  margin-left: auto;
}

.mySelectDefault .cancelContainer {
  display: none;
  margin-right: 0.5em;
}

.mainSectionWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.selectedDisplay {
  display: inline-block;
  position: relative;
  margin: 0 0.5em;
  text-align: left;
  vertical-align: middle;
}

.mySelectDefault .downArrowContainer {
  height: 20px;
  cursor: pointer;
  margin-right: 0.5em;
  margin-left: 15px;
  display: flex;
  justify-items: center;
  align-items: center;
}

.mySelectDefault .mySelectDefaultOptions {
  --display: none;
  background-color: white;
  border: 1px solid #ccc;
  text-align: left;
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 10px;
  padding: 5px 0;
  border-radius: 4px;
  width: 100%;
  max-height: 400px;
  overflow-y: auto;
  -webkit-box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.16);
  z-index: 1000;
}

.selectClosed .mySelectDefaultOptions {
  display: none;
}

.mySelectDefault .mySelectDefaultOptions div {
  padding: 0.5em 0 0.5em 0.5em;
  color: var(--tab-text-color);
  background-color: var(--card-background);
  cursor: pointer;
}

.mySelectDefault .mySelectDefaultOptions div:hover {
  background-color: #eee;
}

.mySelectDefault .mySelectDefaultOptions div.focusedOption {
  background-color: #1a59f7;
  color: var(--dropdown-item-hover-color);
}

.mySelectDefault .mySelectDefaultOptions div:active {
  background-color: var(--card-background);
}

.mySelectDefault {
  position: relative;
  margin-right: 0.5em;
  vertical-align: bottom;
  font-size: var(--font-size-normal);
}

.mySelectDefault .fieldset {
  align-items: center;
  cursor: default;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 38px;
  box-sizing: border-box;
  background-color: transparent;
  outline: 0;
  border: 0;
  width: 100%;
  border-bottom: 0.1rem solid var(--input-border-color);
  font-size: var(--font-size-normal);
  transition: all 0.25s;
  line-height: var(--spacing-2);
  color: var(--text-color);
}

.selectOpen .fieldset {
  border-color: var(--color-primary);
}

.textinput {
  background-color: transparent;
  outline: 0;
  border: 0;
  width: 100%;
  font-size: var(--font-size-normal);
  transition: all 0.25s;
  line-height: var(--spacing-2);
  color: var(--text-color);
}

.textinputLabel {
  position: absolute;
  top: 15px;
  left: 0.5em;
  color: var(--text-input-color);
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-regular);
  transition: all 0.25s;
}

.selectOpen .fieldset > .textinputLabel,
.valueSelected .fieldset > .textinputLabel {
  top: -8px;
  font-size: var(--font-size-small);
}
