.container {
  display: grid;
  min-height: 100vh;
  background-color: var(--container-color);
  column-gap: var(--layout-column-gap-lg);
  grid-template-columns: var(--layout-grid-columns);
  overflow-x: hidden;
}

.header {
  grid-column: full-start / full-end;
  grid-row: 1 / span 1;
  background-color: var(--header-color);
  border-bottom: 0.2rem solid var(--header-border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6rem;
}

.topBanner {
  grid-column: full-start / full-end;
  grid-template-rows: 1fr;
  background-color: var(--topbanner-color);

  /* Pass grid down. This is necessary because children of TopBanner does not have access to the container grid */
  display: grid;
  column-gap: var(--layout-column-gap-lg);
  grid-template-columns: var(--layout-grid-columns);
}

.pageDetails {
  grid-column: center-start / center-end;
  overflow: hidden;
}

.sidebar {
  background-color: transparent;
  grid-row: 4 / span 1;
  grid-column: col-start 9 / center-end;
}

.main {
  grid-row: 4 / span 1;
  grid-column: center-start / col-end 8;
}

.mainfill {
  grid-column: center-start / center-end;
}

/* HUGE SCREENS */
@media screen and (min-width: 1400px) {
  .container {
    grid-template-columns:
      [full-start] 1fr [center-start]
      repeat(12, [col-start] var(--max-column-size-lg) [col-end])
      [center-end] 1fr [full-end];
    column-gap: var(--layout-column-gap-lg);
  }

  .main {
    grid-column: full-start / col-end 10;
    margin-left: 6rem;
  }

  .sidebar {
    grid-column: col-start 11 / full-end;
    margin-right: 6rem;
  }

  .pageDetails {
    grid-column: full-start / full-end;
    margin-left: 6rem;
    margin-right: 6rem;
  }
}

/* MEDIUM SCREENS */
@media screen and (max-width: 1000px) {
  .container {
    --grid-center-padding: minmax(
      calc(5rem - var(--layout-column-gap-md)),
      1fr
    );
    grid-template-columns:
      [full-start] var(--grid-center-padding) [center-start]
      repeat(
        12,
        [col-start] minmax(var(--min-column-size-md), var(--max-column-size-md))
        [col-end]
      )
      [center-end] var(--grid-center-padding) [full-end];
    column-gap: var(--layout-column-gap-md);
  }

  .topBanner {
    --grid-center-padding: minmax(
      calc(5rem - var(--layout-column-gap-md)),
      1fr
    );
    grid-template-columns:
      [full-start] var(--grid-center-padding) [center-start]
      repeat(
        12,
        [col-start] minmax(var(--min-column-size-md), var(--max-column-size-md))
        [col-end]
      )
      [center-end] var(--grid-center-padding) [full-end];
    column-gap: var(--layout-column-gap-md);
  }

  .header {
    padding: 0 5rem;
  }

  .sidebar {
    display: none;
  }

  .main {
    grid-column: center-start / center-end;
  }
}

/* SMALL SCREENS */
@media screen and (max-width: 768px) {
  .container {
    --grid-center-padding: minmax(
      calc(3rem - var(--layout-column-gap-sm)),
      1fr
    );
    grid-template-columns:
      [full-start] var(--grid-center-padding) [center-start]
      repeat(
        12,
        [col-start] minmax(var(--min-column-size-sm), var(--max-column-size-sm))
        [col-end]
      )
      [center-end] var(--grid-center-padding) [full-end];
    column-gap: var(--layout-column-gap-sm);
  }

  .header {
    padding: 0 3rem;
  }

  .topBanner {
    --grid-center-padding: minmax(
      calc(5rem - var(--layout-column-gap-sm)),
      1fr
    );
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "details details details details details details" ". . . . . ." ". . . . . .";
    column-gap: 0;
    padding: 0 4rem;
  }

  .pageDetails {
    grid-area: details;
  }

  .main {
    grid-column: full-start / full-end;
  }
}

/* EXTRA SMALL SCREENS */
@media screen and (max-width: 560px) {
  .container {
    grid-template-columns: [full-start] 1fr [full-end];
  }

  .header {
    padding: 0 3rem;
  }

  .topBanner {
    padding: 0 2.5rem;
  }
}
