.container {
  display: grid;
  min-height: 100vh;
  background-color: var(--container-color);
  column-gap: var(--layout-column-gap-lg);
  grid-template-columns: var(--layout-grid-columns);
  grid-template-rows: var(--layout-grid-rows);
}

.header {
  grid-column: full-start / full-end;
  grid-row: 1 / span 1;
  background-color: var(--header-color);
  border-bottom: 0.2rem solid var(--header-border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6rem;
}

.topBanner {
  grid-column: full-start / full-end;
  grid-row: 2 / span 1;
  background-color: var(--topbanner-color);

  /* Pass grid down. This is necessary because children of TopBanner does not have access to the container grid */
  display: grid;
  column-gap: var(--layout-column-gap-lg);
  grid-template-columns: var(--layout-grid-columns);
}

.pageDetails {
  grid-column: center-start / col-end 8;
}

.sideBanner {
  grid-column: col-start 9 / center-end;
}

.sidebar {
  background-color: transparent;
  grid-row: 4 / span 1;
  grid-column: col-start 9 / center-end;
}

.main {
  background-color: var(--main-color);
  grid-row: 4 / span 1;
  grid-column: center-start / col-end 8;
}

.mainfill {
  grid-column: center-start / center-end;
}

/* MEDIUM */
@media screen and (max-width: 1000px) {
  .container {
    --grid-center-padding: minmax(
      calc(5rem - var(--layout-column-gap-md)),
      1fr
    );
    grid-template-columns:
      [full-start] var(--grid-center-padding) [center-start]
      repeat(
        12,
        [col-start] minmax(var(--min-column-size-md), var(--max-column-size-md))
        [col-end]
      )
      [center-end] var(--grid-center-padding) [full-end];
    column-gap: var(--layout-column-gap-md);
  }

  .topBanner {
    --grid-center-padding: minmax(
      calc(5rem - var(--layout-column-gap-md)),
      1fr
    );
    grid-template-columns:
      [full-start] var(--grid-center-padding) [center-start]
      repeat(
        12,
        [col-start] minmax(var(--min-column-size-md), var(--max-column-size-md))
        [col-end]
      )
      [center-end] var(--grid-center-padding) [full-end];
    column-gap: var(--layout-column-gap-md);
  }

  .header {
    padding: 0 5rem;
  }

  .sidebar,
  .sideBanner {
    display: none;
  }

  .pageDetails,
  .main {
    grid-column: center-start / center-end;
  }
}

/* SMALL */
@media screen and (max-width: 768px) {
  .container {
    --grid-center-padding: minmax(
      calc(3rem - var(--layout-column-gap-sm)),
      1fr
    );
    grid-template-columns:
      [full-start] var(--grid-center-padding) [center-start]
      repeat(
        12,
        [col-start] minmax(var(--min-column-size-sm), var(--max-column-size-sm))
        [col-end]
      )
      [center-end] var(--grid-center-padding) [full-end];
    column-gap: var(--layout-column-gap-sm);
  }

  .header {
    padding: 0 3rem;
  }

  .topBanner {
    --grid-center-padding: minmax(
      calc(5rem - var(--layout-column-gap-sm)),
      1fr
    );
    grid-template-columns:
      [full-start] var(--grid-center-padding) [center-start]
      repeat(
        12,
        [col-start] minmax(var(--min-column-size-sm), var(--max-column-size-sm))
        [col-end]
      )
      [center-end] var(--grid-center-padding) [full-end];
    column-gap: var(--layout-column-gap-sm);
  }
}

/* EXTRA SMALL */
@media screen and (max-width: 560px) {
  .container {
    grid-template-columns: [full-start] 1fr [full-end];
  }

  .header {
    padding: 0 3rem;
  }

  .topBanner {
    grid-template-columns: [full-start] 1fr [full-end];
  }

  .pageDetails,
  .main {
    grid-column: full-start / full-end;
  }
}
