.card {
  background: var(--card-background);
  position: relative;
}

.padding-small {
  padding: 2rem 4rem;
}

.padding-medium {
  padding: 4rem 6rem;
}

.padding-large {
  padding: 6rem 9rem;
}

.marker {
  border-left: 1.2rem solid;
  border-top: 1.2rem solid;
  border-right: 1.2rem solid transparent;
  border-bottom: 1.2rem solid transparent;
  position: absolute;
  top: 0;
  left: 0;
}
