.monthPicker {
  position: relative;
}

.rmpContainer {
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  z-index: 100;
  top: 0.1rem;
  left: -1000rem;
  -webkit-transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 450ms;
  -moz-transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 450ms;
  transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 450ms;
}

.rmpContainer.show {
  left: 0;
  -webkit-transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  -moz-transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.rmpTable {
  display: table;
}

.rmpOverlay {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 9;
  top: 0;
  left: -1000rem;
  opacity: 1;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  will-change: opacity;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 0ms,
    opacity 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  -moz-transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 0ms,
    opacity 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 0ms,
    opacity 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.rmpContainer.show .rmpOverlay {
  left: 0;
}

.rmpCell {
  display: table-cell;
  vertical-align: middle;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.rmpPopup {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1);
  margin: 0 auto;
  z-index: 10;
  font-size: 1.2rem;
  opacity: 0;
  border-radius: 0.3rem;
  padding: 0.4rem;
  box-sizing: content-box;
}

.rmpPopup.show {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.rmpPopup:after {
  content: " ";
  clear: both;
  display: table;
}

.rmpPopup .rmpPad {
  position: relative;
}

.rmpPopup .rmpPad > div label {
  display: block;
  font-size: 1.4rem;
  text-align: center;
  line-height: 3.4rem;
}

.rmpPopup .rmpPad > div label b {
  font-weight: normal;
  margin-right: 0.5em;
}

.rmpPopup .rmpPad > div i {
  font-style: normal;
  text-align: center;
  width: 3.4rem;
  height: 3.4rem;
  line-height: 3.4rem;
  position: absolute;
  top: 0;
}

.rmpPopup .rmpPad > div i.prev {
  left: 0;
}

.rmpPopup .rmpPad > div i.next {
  right: 0;
}

.rmpPopup .rmpPad > div i.prevMnth {
  left: 0;
  top: 3.4rem;
}

.rmpPopup .rmpPad > div i.nextMnth {
  right: 0;
  top: 3.4rem;
}

.rmpPopup .rmpPad ul,
.rmpPopup .rmpPad li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.rmpPopup .rmpPad ul {
  display: block;
  width: 100%;
}

.rmpPopup .rmpPad ul:after {
  content: " ";
  clear: both;
  display: table;
}

.rmpPopup .rmpPad li {
  display: block;
  float: left;
  text-align: center;
  line-height: 3.4rem;
  font-size: 1.15rem;
  border-radius: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.02rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: background-color 200ms ease-in-out,
    color 200ms ease-in-out;
  -moz-transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
}

.rmpPopup.light {
  color: #666;
  background-color: rgba(255, 255, 255, 0.96);
}

.rmpPopup .rmpPad .rmpBtn {
  cursor: pointer;
}

.rmpPopup.light .rmpPad .rmpBtn.select {
  background-color: #d3d3d3;
}

.rmpPopup.dark .rmpPad li.active {
  background-color: rgba(189, 211, 242, 0.7);
  color: #303030;
  cursor: default;
}

.rmpPopup.dark .rmpPad .disable {
  background-color: transparent;
  color: #717171;
  cursor: default;
  pointer-events: none;
}

.rmpPopup.light .rmpPad li.active {
  background-color: rgba(31, 42, 58, 0.73);
  color: white;
  cursor: default;
}

.rmpPopup.light .rmpPad .disable {
  background-color: transparent;
  color: #bbb;
  cursor: default;
  pointer-events: none;
}

.rmpPopup.light .rmpPad li.active:hover {
  background-color: rgba(31, 42, 58, 0.73);
  color: white;
  cursor: default;
}

.rmpPopup.dark .rmpPad li.active:hover {
  background-color: rgba(189, 211, 242, 0.7);
  color: #303030;
  cursor: default;
}

.rmpPopup.dark .rmpPad .disable:hover {
  background-color: transparent;
  color: #717171;
  cursor: default;
}

.rmpPopup.light .rmpPad .disable:hover {
  background-color: transparent;
  color: #bbb;
  cursor: default;
}

.rmpPopup.dark {
  color: #fff;
  background-color: rgba(50, 50, 50, 0.96);
}

.rmpPopup.dark .rmpPad .rmpBtn.select {
  background-color: #262828;
}

@media screen and (max-width: 767px) {
  .rmpContainer {
    position: fixed;
    top: 0;
    left: -1000rem;
    width: 100%;
    height: 100%;
    -webkit-transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 450ms;
    -moz-transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 450ms;
    transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 450ms;
  }
}

@media screen and (max-width: 767px) {
  .rmpOverlay {
    background-color: rgba(0, 0, 0, 0.25);
  }
}
@media screen and (max-width: 767px) {
  .rmpCell {
    vertical-align: bottom;
  }
}
@media screen and (max-width: 767px) {
  .rmpPopup {
    box-sizing: border-box;
    bottom: 0;
    width: 100%;
    max-width: 100%;
    height: 70%;
    -webkit-transform: translate3d(0, 70%, 0);
    -moz-transform: translate3d(0, 70%, 0);
    -ms-transform: translate3d(0, 70%, 0);
    -o-transform: translate3d(0, 70%, 0);
    transform: translate3d(0, 70%, 0);
  }

  .rmpPopup.all {
    height: 18.4rem;
  }

  .rmpPopup.range {
    height: 28rem;
    -webkit-transform: translate3d(0, 28rem, 0);
    -moz-transform: translate3d(0, 28rem, 0);
    -ms-transform: translate3d(0, 28rem, 0);
    -o-transform: translate3d(0, 28rem, 0);
    transform: translate3d(0, 28rem, 0);
  }

  .rmpPopup.range .rmpPad {
    margin-top: 0.4rem;
  }

  .rmpPopup.range .rmpPad:first-of-type {
    margin-top: 0;
  }
}

@media screen and (min-width: 768px) {
  .rmpPopup {
    -webkit-transform: translate3d(0, -6.4rem, 0);
    -moz-transform: translate3d(0, -6.4rem, 0);
    -ms-transform: translate3d(0, -6.4rem, 0);
    -o-transform: translate3d(0, -6.4rem, 0);
    transform: translate3d(0, -6.4rem, 0);
    top: 0;
    width: 30rem;
  }

  .rmpPopup.monthsMode {
    width: 20rem;
  }

  .rmpPopup.range {
    width: 40.6rem;
    padding: 0.6rem;
  }
}

@media screen and (min-width: 768px) {
  .rmpPopup .rmpPad {
    box-sizing: border-box;
    float: left;
    width: 30rem;
  }

  .rmpPopup.monthsMode .rmpPad {
    width: 20rem;
  }

  .rmpPopup .rmpPad:nth-of-type(2) {
    float: right;
  }
}

@media screen and (max-width: 767px) {
  .rmpPopup .rmpPad li {
    width: 25%;
  }
}

@media screen and (min-width: 768px) {
  .rmpPopup .rmpPad li {
    width: 20%;
  }
}

@media screen and (max-width: 767px) {
  .rmpPopup.light {
    border-top: 0.1rem solid #ccc;
    box-shadow: 0 -0.1rem 0.5rem rgba(0, 0, 0, 0.08);
  }

  .rmpPopup.light.range .rmpPad {
    border-top: 0.1rem solid rgba(204, 204, 204, 0.5);
  }

  .rmpPopup.light.range .rmpPad:first-of-type {
    border-top: 0;
  }

  .rmpPopup.range {
    bottom: 28rem;
    height: 28.5rem;
  }
}

@media screen and (min-width: 768px) {
  .rmpPopup.light {
    border: 0.1rem solid #ccc;
    box-shadow: 0 0.1rem 0.5rem #ddd;
  }

  .rmpPopup.light.range .rmpPad {
    background-color: rgba(238, 238, 238, 0.9);
  }
}

@media screen and (min-width: 768px) {
  .rmpPopup.light .rmpPad .rmpBtn:hover {
    background-color: rgba(255, 227, 160, 0.59);
  }
}

@media screen and (max-width: 767px) {
  .rmpPopup.dark.range .rmpPad {
    border-top: 0.1rem solid rgba(113, 113, 113, 0.41);
  }

  .rmpPopup.dark.range .rmpPad:first-of-type {
    border-top: 0;
  }
}

@media screen and (min-width: 768px) {
  .rmpPopup.dark.range .rmpPad {
    background-color: rgba(70, 70, 70, 0.9);
  }
}

@media screen and (min-width: 768px) {
  .rmpPopup.dark .rmpPad .rmpBtn:hover {
    background-color: rgba(255, 210, 96, 0.33);
  }
}

.defaultDatepickerArrow {
  position: relative;
  height: 100%;
  width: 2rem;
}

.defaultDatepickerArrow:after {
  content: "";
  width: 0;
  height: 0;
  border: 0.5rem solid transparent;
  border-color: var(--color-gray) transparent transparent transparent;
  position: absolute;
  top: 0.6rem;
  right: 0.3rem;
}

.defaultDatepickerArrowOpen {
  composes: defaultDatepickerArrow;
}

.defaultDatepickerArrowOpen:after {
  top: 0.3rem;
  border-color: transparent transparent var(--color-primary) transparent;
}

.defaultDatepickerValueWrapper {
  cursor: pointer;
  display: inline-flex;
}
