.value {
  margin: 0 0.8rem;
}

.disabled.value {
  color: var(--text-input-color);
}

.input {
  margin: 0 0.8rem;
  width: 100%;
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-regular);
  line-height: var(--spacing-2);
  color: var(--text-color);
  outline: 0;
  border: 0;
  background-color: transparent;
}

.disabled.input {
  cursor: not-allowed;
  color: var(--text-input-color);
}
