.numberinput {
  background-color: transparent;
  outline: 0;
  border: 0;
  width: 100%;
  border-bottom: 0.1rem solid var(--color-gray-lighter);
  font-size: var(--font-size-normal);
  transition: all 0.25s;
  line-height: var(--spacing-2);
}

.numberinputWrapper {
  width: 15%;
  position: relative;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.numberinputWrapper:not(:first-child) {
  margin-top: 2.2rem;
}

.numberinput:focus,
.numberinput:not(:placeholder-shown) {
  border-bottom: 0.1rem solid var(--color-primary);
}

.numberinputError,
.numberinputError:focus,
.numberinputError:not(:placeholder-shown) {
  border-bottom: 0.1rem solid var(--color-orange);
}

.numberinput:focus + .numberinputLabel,
.numberinput:not(:placeholder-shown) + .numberinputLabel {
  top: -2rem;
  font-size: var(--font-size-small);
}

.errorMsg {
  visibility: hidden;
  color: var(--color-orange);
  font-size: var(--font-size-small);
  min-height: var(--spacing-1);
  line-height: var(--spacing-1);
  margin-top: 1px;
}

.errorMsgActive {
  visibility: visible;
}

.errorIcon {
  display: none;
  color: var(--color-orange);
  position: absolute;
  right: 0;
  top: 5px;
  font-size: var(--font-size-large);
}

.errorIconActive {
  display: block;
}

.incrementWrapperStyle {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: -25px;
  top: 0;
}

.incrementButtonStyle {
  content: "";
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-color: #8997a5 transparent transparent;
  position: absolute;
  top: -4px;
  right: 2px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.incrementButtonStyle:hover {
  border-color: var(--color-primary) transparent transparent transparent;
  cursor: pointer;
}

.decrementButtonStyle {
  content: "";
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-color: #8997a5 transparent transparent;
  position: absolute;
  top: 20px;
  right: 2px;
}

.decrementButtonStyle:hover {
  border-color: var(--color-primary) transparent transparent transparent;
  cursor: pointer;
}
