.select {
  position: relative;
  margin-right: 0.8rem;
  vertical-align: bottom;
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-regular);
  line-height: var(--spacing-2);
  color: var(--text-color);
  cursor: default;
}

.fieldset {
  align-items: center;
  display: flex;
  min-height: 3.8rem;
  background-color: transparent;
  border-bottom: 0.1rem solid var(--input-border-color);
  transition: all 0.25s;
}

.menuOpened .fieldset,
.valueSelected .fieldset {
  border-color: var(--color-primary);
}

.disabled .fieldset {
  border-color: var(--input-border-color);
}

.label {
  position: absolute;
  top: 1.5rem;
  left: 0.8rem;
  color: var(--text-input-color);
  transition: all 0.25s;
}

.menuOpened .fieldset > .label,
.valueSelected .fieldset > .label {
  top: -0.8rem;
  font-size: var(--font-size-small);
}

.controls {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
}

.values {
  margin: 0 0.8rem;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.disabled .values {
  color: var(--text-input-color);
}

.selectedOption {
  padding: 0 1rem;
  margin-right: 1rem;
  margin-bottom: 0.2rem;
  display: flex;
  align-items: center;
  background-color: var(--input-border-color);
}

.separator {
  align-self: stretch;
  background-color: var(--input-border-color);
  width: 0.1rem;
  height: auto;
  margin-left: auto;
}

.clearable.valueSelected .separator {
  margin-left: 1.5rem;
}

.arrowContainer {
  height: 2rem;
  cursor: pointer;
  margin-right: 0.8rem;
  margin-left: auto;
  display: flex;
  justify-items: center;
  align-items: center;
}

.disabled,
.disabled .arrowContainer {
  cursor: not-allowed;
}

.hasSeparator .arrowContainer,
.clearable.valueSelected .arrowContainer {
  margin-left: 1.5rem;
}

.arrow {
  width: 0;
  height: 0;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-top: 0.5rem solid var(--input-border-color);
  transition: all 0.4s ease;
}

.menuOpened .arrow {
  transform: rotateZ(-180deg);
  border-top-color: var(--color-primary);
}

.removeOption,
.clear {
  cursor: pointer;
  display: none;
  margin-right: 0.8rem;
  background-color: #f8a085;
  width: 0.5rem;
  height: 0.5rem;

  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5.914' height='6.001' viewBox='0 0 5.914 6.001'%3E%3Cg transform='translate(0.357 0.351)'%3E%3Cline y1='5.3' x2='5.2' fill='none' stroke='%23f8a085' stroke-miterlimit='10' stroke-width='1'/%3E%3Cline x2='5.2' y2='5.3' fill='none' stroke='%23f8a085' stroke-miterlimit='10' stroke-width='1'/%3E%3C/g%3E%3C/svg%3E");
  mask-size: contain;
  mask-repeat: no-repeat;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5.914' height='6.001' viewBox='0 0 5.914 6.001'%3E%3Cg transform='translate(0.357 0.351)'%3E%3Cline y1='5.3' x2='5.2' fill='none' stroke='%23f8a085' stroke-miterlimit='10' stroke-width='1'/%3E%3Cline x2='5.2' y2='5.3' fill='none' stroke='%23f8a085' stroke-miterlimit='10' stroke-width='1'/%3E%3C/g%3E%3C/svg%3E");
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
}

.removeOption {
  margin-left: 1rem;
  margin-right: 0;
  display: block;
}

.disabled .removeOption {
  cursor: not-allowed;
  background-color: var(--color-white);
}

.valueSelected .clear {
  display: flex;
  margin-left: auto;
}

.disabled .clear {
  cursor: not-allowed;
  background-color: var(--input-border-color);
}

.menu {
  background-color: var(--card-background);
  position: absolute;
  top: 100%;
  margin-top: 1rem;
  padding: 0.5rem 0;
  width: 100%;
  overflow-y: auto;
  -webkit-box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.16);
  z-index: 1000;
}

.menuClosed .menu {
  display: none;
}

.menu > div {
  padding: 0.8rem 0 0.8rem 0.8rem;
  cursor: pointer;
}

.menu > div.focusedOption {
  background-color: var(--input-border-color);
}

.menu > div.selected {
  background-color: var(--color-primary);
  color: var(--color-white);
}
