.values {
  margin: 0 0.8rem;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.disabled.values {
  color: var(--text-input-color);
}

.selectedOption {
  padding: 0 1rem;
  margin-right: 1rem;
  margin-bottom: 0.2rem;
  display: flex;
  align-items: center;
  background-color: var(--input-border-color);
}

.removeOption {
  cursor: pointer;
  background-color: #f8a085;
  width: 0.5rem;
  height: 0.5rem;

  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5.914' height='6.001' viewBox='0 0 5.914 6.001'%3E%3Cg transform='translate(0.357 0.351)'%3E%3Cline y1='5.3' x2='5.2' fill='none' stroke='%23f8a085' stroke-miterlimit='10' stroke-width='1'/%3E%3Cline x2='5.2' y2='5.3' fill='none' stroke='%23f8a085' stroke-miterlimit='10' stroke-width='1'/%3E%3C/g%3E%3C/svg%3E");
  mask-size: contain;
  mask-repeat: no-repeat;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5.914' height='6.001' viewBox='0 0 5.914 6.001'%3E%3Cg transform='translate(0.357 0.351)'%3E%3Cline y1='5.3' x2='5.2' fill='none' stroke='%23f8a085' stroke-miterlimit='10' stroke-width='1'/%3E%3Cline x2='5.2' y2='5.3' fill='none' stroke='%23f8a085' stroke-miterlimit='10' stroke-width='1'/%3E%3C/g%3E%3C/svg%3E");
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;

  margin-left: 1rem;
  margin-right: 0;
  display: block;
}

.disabled .removeOption {
  cursor: not-allowed;
  background-color: var(--color-white);
}

.input {
  margin: 0 0.8rem;
  width: 100%;
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-regular);
  line-height: var(--spacing-2);
  color: var(--text-color);
  outline: 0;
  border: 0;
  background-color: transparent;
}

.disabled.input {
  cursor: not-allowed;
  color: var(--text-input-color);
}
