*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  background-color: var(--html-bg);
}

body {
  font-size: var(--font-size-normal);
  font-family: var(--font-family-text);
  color: var(--text-color);
  line-height: var(--spacing-2);
}

a,
a:link,
a:visited {
  text-decoration: none;
}

.toggleWrapperExample {
  display: flex;
  align-items: center;
  width: 16rem;
}

.toggleLabelExample {
  margin-left: 1rem;
}

.dropdownCustomArrowExample {
  right: -10px;
  top: 20px;
}

.statusBarMarkerTooltipExample {
  width: 225px;
}

.dropdownCustomListExample {
  margin-top: 4.5rem !important;
}
