*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

/* SMALL */
@media screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }
}

body {
  font-size: var(--font-size-normal);
  font-family: var(--font-family-text);
  color: var(--text-color);
  line-height: var(--spacing-2);
}

a,
a:link,
a:visited {
  text-decoration: none;
}

@font-face {
  font-family: "Segoe UI";
  src: url("../assets/fonts/segoeui/segoeui.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../assets/fonts/source_sans_pro/SourceSansPro-SemiBold.ttf")
    format("ttf");
  font-weight: var(--font-weight-semi-bold);
  font-style: normal;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../assets/fonts/source_sans_pro/SourceSansPro-Regular.ttf")
    format("ttf");
  font-weight: var(--font-weight-regular);
  font-style: normal;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../assets/fonts/source_sans_pro/SourceSansPro-Light.ttf")
    format("ttf");
  font-weight: var(--font-weight-light);
  font-style: normal;
}
