.tableWrapper {
  padding-bottom: 2rem;
}

.table {
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

.paginator {
  margin-top: 3rem;
  justify-content: flex-end;
}

.tableCell {
  max-width: 12rem;
  min-width: 12rem;
  overflow-x: hidden;
  text-align: center;
  text-overflow: ellipsis;
}

.tableHeadCell {
  composes: tableCell;
  height: 5.2rem;
}

.tableBodyCell {
  composes: tableCell;
  height: 5rem;
  border-bottom: 0.1rem solid var(--table-cell-border-color);
}

.tableHead {
  background-color: var(--table-header-background);
}

@media (--sm-viewport) {
  .table {
    border: 0;
  }

  .tableHead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .tableRow {
    border: 0.1rem solid #f3f5f6;
    padding: 1.3rem 2rem;
    display: block;
    margin-bottom: 1rem;
  }

  .tableCell {
    max-width: 100%;
  }

  .tableBodyCellText {
    overflow-x: hidden;
    max-width: 20rem;
    text-overflow: ellipsis;
  }

  .tableBodyCell {
    display: flex;
    align-items: center;
    border: 0;
    justify-content: space-between;
    font-size: 1.35rem;
  }

  td.tableBodyCell:not(:last-child) {
    border-bottom: 0.1rem solid #f3f5f6;
  }

  .tableBodyCell::before {
    content: attr(data-label);
    font-weight: bold;
  }
}
