.tooltipContent {
  border-radius: 0.2rem;
  box-shadow: 0.1rem 0.1rem 0.6rem 0.25rem var(--color-shadow-light);
  padding: 0.25rem 1.5rem;
  user-select: none;
  max-width: 30rem;
  word-wrap: break-word;
  pointer-events: none;
  z-index: var(--z-index-big);
  background-color: var(--tooltip-background-color);
  visibility: visible;
  opacity: 0;
  transition: 0.3s all ease;
}

.tooltip:hover .tooltipContent {
  visibility: visible;
  opacity: 1;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.top {
  position: absolute;
  margin: 0.6rem 0;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.bottom {
  position: absolute;
  margin: 0.6rem 0;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.left {
  position: absolute;
  margin: 0 0.6rem;
  right: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.right {
  position: absolute;
  margin: 0 0.6rem;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
}
