.switch {
  position: relative;
  cursor: pointer;
}

.circle {
  position: absolute;
  height: 2.1rem;
  width: 2.1rem;
  margin-top: 0.2rem;
  border-radius: 50%;
}

.bar {
  width: 3.5rem;
  height: 1.7rem;
  border-radius: 2.5rem;
  margin-top: 0.4rem;
  background-color: var(--color-gray-light);
}
