.toggle {
  display: inline-block;
  vertical-align: middle;
}

.toggle > div {
  display: block;
  width: 5rem;
  height: 2rem;
  border-radius: 0.3rem;
  transition: all 200ms ease-in-out;
  background-color: var(--toggle-bar-color);
  float: left;
}

.toggle > div:hover:not([disabled]) {
  width: 4.7rem;
  margin-right: 0.3rem;
}

.toggle > div.toggled:hover:not([disabled]) {
  padding-right: 0.3rem;
}

.toggle > div.notToggled:hover:not([disabled]) {
  padding-left: 0.3rem;
}

.knob {
  width: 2.5rem;
  height: 100%;
  border-radius: 0.3rem;
}

.toggled .knob {
  float: right;
  background-color: var(--toggle-toggled-knob-color);
}

.notToggled .knob {
  background-color: var(--toggle-knob-color);
}
