.error > div:first-child {
  border-bottom: 0.1rem solid var(--color-orange);
}

.errorMsg {
  visibility: hidden;
  color: var(--color-orange);
  font-size: var(--font-size-small);
  min-height: var(--spacing-1);
  line-height: var(--spacing-1);
}

.errorMsgActive {
  visibility: visible;
}
