.link {
  color: var(--link-color);
  font-weight: var(--font-weight-regular);
}

.gray {
  color: var(--color-gray);
}

.dark {
  color: var(--color-primary-dark);
}

.link:hover {
  text-decoration: underline;
}

.noHover:hover {
  text-decoration: none;
}

.truncate {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
