.message {
  padding: 20px 40px;
  display: flex;
  align-items: center;
}

.info {
  composes: message;
  background-color: var(--info-message-background);
  color: var(--info-message-color);
}

.icon-info {
  margin-right: 10px;
}

.icon-info > path:first-of-type {
  fill: var(--info-message-color);
}

.icon-info > path:last-of-type {
  fill: var(--info-message-background);
}

.error {
  composes: message;
  background-color: var(--error-message-background);
  color: var(--error-message-color);
}

.icon-error {
  margin-right: 10px;
}

.icon-error > path:first-of-type {
  fill: var(--error-message-color);
}

.icon-error > path:last-of-type {
  fill: var(--error-message-background);
}

.warning {
  composes: message;
  background-color: var(--warning-message-background);
  color: var(--warning-message-color);
}

.icon-warning {
  margin-right: 10px;
}

.icon-warning > path:first-of-type {
  fill: var(--warning-message-color);
}

.icon-warning > path:last-of-type {
  fill: var(--warning-message-background);
}

.success {
  composes: message;
  background-color: var(--success-message-background);
  color: var(--success-message-color);
}

.icon-success {
  margin-right: 10px;
}

.icon-success > path:first-of-type,
.icon-success > circle:first-of-type {
  fill: var(--success-message-color);
}

.icon-success > path:last-of-type {
  fill: var(--success-message-background);
}
