.message {
  padding: 20px 40px;
  display: flex;
  align-items: flex-start;
  color: var(--text-color) !important;
}

.withTitle {
  align-items: flex-start;
}

.iconContainer {
  height: 100%;
  display: flex;
  align-items: center;
}

.withTitle .iconContainer {
  padding-top: 6px;
}

.iconForTitle {
  align-items: flex-start;
}

.content {
  display: flex;
  flex-direction: column;
}

.info {
  composes: message;
  background-color: var(--info-message-background);
}

.icon-info {
  margin-right: 10px;
}

.icon-info > path:first-of-type {
  fill: var(--info-message-color);
}

.icon-info > path:last-of-type {
  fill: var(--info-message-background);
}

.error {
  composes: message;
  background-color: var(--error-message-background);
}

.icon-error {
  margin-right: 10px;
}

.icon-error > path:first-of-type {
  fill: var(--error-message-color);
}

.icon-error > path:last-of-type {
  fill: var(--error-message-background);
}

.warning {
  composes: message;
  background-color: var(--warning-message-background);
}

.icon-warning {
  margin-right: 10px;
}

.icon-warning > path:first-of-type {
  fill: var(--warning-message-color);
}

.icon-warning > path:last-of-type {
  fill: var(--warning-message-background);
}

.success {
  composes: message;
  background-color: var(--success-message-background);
}

.blocked {
  composes: message;
  background-color: var(--blocked-message-background);
}

.icon-blocked {
  margin-right: 10px;
}

.icon-blocked line,
.icon-blocked circle {
  fill: none;
  stroke: var(--blocked-message-color);
}

.icon-success {
  margin-right: 10px;
}

.icon-success > path:first-of-type,
.icon-success > circle:first-of-type {
  fill: var(--success-message-color);
}

.icon-success > path:last-of-type {
  fill: var(--success-message-background);
}
