.thumb {
  position: relative;
  display: block;
  content: "";
  width: 18px;
  height: 18px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  user-select: none;
  cursor: pointer;
  box-sizing: border-box;
}

.x.track {
  position: relative;
  display: inline-block;
  background-color: var(--btn-disabled-background-color);
  border-radius: 5px;
  user-select: none;
  box-sizing: border-box;
  width: 200px;
  height: 10px;
}

.x.active {
  position: absolute;
  background-color: var(--btn-background-color);
  border-radius: 5px;
  user-select: none;
  box-sizing: border-box;
  top: 0;
  height: 100%;
}

.y.track {
  position: relative;
  display: inline-block;
  background-color: var(--btn-disabled-background-color);
  border-radius: 5px;
  user-select: none;
  box-sizing: border-box;
  width: 10px;
  height: 200px;
}

.y.active {
  position: absolute;
  background-color: var(--btn-background-color);
  border-radius: 5px;
  user-select: none;
  box-sizing: border-box;
  left: 0;
  width: 100%;
}

.disabled {
  opacity: 0.5;
}

.handle {
  z-index: 1;
  position: absolute;
  transform: translate(-50%, -50%);
}
